* {
    margin: 0;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-image: url(../assets/dark_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; // Stops the image from scrolling with the text
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr); // Create 8 columns of 8 equal fractions
    grid-auto-rows: auto; // Automatically move content to a new row if it doesn't fit
}

a {
    color: inherit;
}

/*---------- Header Styles ----------*/ 

.header-main {
    position: relative;
    min-height: 90px;
}
.title {
    grid-column: 3/7;
    justify-self: center;
    position: absolute;
    bottom: 0;
    line-height: 1; //Position text at the same level as cv text
    font-size: 1.5em;
}
.subtitle {
    grid-column: 4/6;
    justify-self: center;
    position: absolute;
    bottom: 0;
    line-height: 1; //Position text at the same level as cv text
    font-size: 2em;
}
.cv {
    grid-column: 7/8;
    padding: 0 40px;
    justify-self: center;
    position: absolute;
    bottom: 0;
    line-height: 1; //Position text at the same level as title text
    font-size: 1.4em;
}

/*---------- Main Content Styles ----------*/ 

.main-content {
    min-height: 50px;
    position: relative;
}
.text {
    grid-column: 2/8;
    justify-self: center;
    margin: 75px 50px 0 50px;
    padding-bottom: 50px;
    line-height: 1;
    text-align: center;
}
.about {
    line-height: 2;
}
.bee-centre {
    grid-column: 2/5;
    grid-row: 2/3;
    justify-self: center;
}
.doggie-walks {
    grid-column: 5/8;
    grid-row: 2/3;
    justify-self: center;
}
.bee-centre-img, .doggie-walks-img {
    width: 328px;
    height: 476px;
    transition: transform .4s; // This is the animation time for the hover scaling
}

// Image hover to create a popping out effect 
// This makes the user aware the content is interactive
.bee-centre-img:hover, .doggie-walks-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
  

/*---------- Footer Styles ----------*/

.footer-main {
    min-height: 100px;
    margin-top: 30px;
}
.footer-text {
    grid-column: 6/8;
    margin-left: 10%;
    line-height: 2.5;
}

/*---------- Animations ----------*/ 

/*----- Header Animations -----*/
.header-main {
    position: relative;
}

.title {
    transform: translateY(-50px);
    opacity: 0; // Hide content at page load
}

.subtitle {
    opacity: 0; // Hide content at page load
}

.cv {
    transform: translateX(20px);
    opacity: 0; // Hide content at page load
}

// ::after creates a pseudo element which allows the line to be added 
// In this instance nothing is added to content property so that a horizontal line can be created
.header-main::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 12.5%;
    width: 75%;
    height: 2px;
    background: white;
    z-index: 999;
    transform: scaleX(0);
}
 
// These animation properties will only take place on page load thanks to the .loaded class
.loaded .header-main::after {
    animation: scaleIn 2s ease-in-out 0.2s forwards;
}
.loaded .title {
    animation: fadeIn1 1.3s ease-in 0s forwards, slideIn1 1s ease-in 0.3s forwards;
}
.loaded .cv {
    animation: fadeIn2 1.5s ease-in 0.7s forwards, slideIn1 1.5s ease-in 0.8s forwards;
}
.loaded .subtitle {
    animation: fadeIn1 1.5s ease-in 1.5s forwards, slideIn2 1s ease-in 0.9s forwards;
}
 
@keyframes scaleIn {
    100% { 
      transform: scaleX(1); // Scale line from nothing to the full length of the line
    }
}
@keyframes slideIn1 {
    100% {
      transform: translateY(0); // Move content down to its original position
    }
}
@keyframes slideIn2 {
    100% {
      transform: translateY(50px); // Move content down from its original position to below the line 
    }
}
@keyframes fadeIn1 {
    60% { // At 60% of the animation opacity is still at 0
      opacity: 0;
    }
  
    100% { // At 100% of the animation bring opacity to 1
      opacity: 1;
    }
}
@keyframes fadeIn2 {
    80% { // At 80% of the animation opacity is still at 0
      opacity: 0; 
    }
  
    100% { // At 100% of the animation bring opacity to 1
      opacity: 1;
    }
}

/*----- Main Content Animation -----*/
.text {
    opacity: 0;
}
.bee-centre {
    transform: translateX(-100px); // Move content left by 100px
    opacity: 0; // Hide content at page load
}
.doggie-walks {
    transform: translateX(100px); // Move content right by 100px
    opacity: 0; // Hide content at page load
}

// These animation properties will only take place on page load thanks to the .loaded class
.loaded .text {
    animation: fadeIn3 1.4s ease-in 3s forwards;
}
.loaded .bee-centre, .loaded .doggie-walks {
    animation: fadeIn3 1.4s ease-in 3s forwards, slideIn3 4s ease-in-out 0.9s forwards;
}


@keyframes slideIn3 {
    100% {
      transform: translateX(0); // Move content to its original position on the page
    }
}
@keyframes fadeIn3 {  
    40% { // At 40% of the animation opacity is still at 0
        opacity: 0;
    }
    100% { // At 100% of the animation opacity is still at 0
      opacity: 1;
    }
}

/*----- Footer Animation -----*/

.footer-main {
    position: relative;
}

// Same line being created for Footer as for Header
.footer-main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 12.5%;
    width: 75%;
    height: 2px;
    background: white;
    z-index: 999;
    transform: scaleX(0);
}

.footer-text {
    opacity: 0; // Hide content at page load
}
 
// These animation properties will only take place on page load thanks to the .loaded class
.loaded .footer-main::after {
    animation: scaleIn 2s ease-in-out 0.2s forwards;
}
.loaded .footer-text {
    animation: fadeIn4 1.5s ease-in 1s forwards;
}

@keyframes scaleIn {
    100% {
      transform: scaleX(1); // Scale line from nothing to the full length of the line
    }
}
@keyframes fadeIn4 {  
    40% { // At 40% of the animation opacity is still at 0
        opacity: 0;
    }
    100% { // At 100% of the animation opacity is still at 0
      opacity: 1;
    }
}

/*---------- Media Queries ----------*/
@media screen and (max-width: 1200px) {

    // Change background attachment to scroll to stop image from moving when page is resizing
    body {
        background-attachment: scroll;
        background-position: center;
        color: white;
    }

}

@media screen and (max-width: 900px) {

    .title {
        font-size: 1.1em;
        text-align: center;
    }
    .subtitle {
        font-size: 1.3em;
    }

    .bee-centre-img, .doggie-walks-img {
        width: 246px;
        height: 357px;
        justify-self: center;
        margin-bottom: 20px;
    }

    .footer-text {
        margin: 0;
        grid-column: 2/8;
        text-align: center;
    }

}

@media screen and (max-width: 700px) {
    
    .bee-centre {
        grid-row: 2;
        grid-column: 3/7;
    }
    .doggie-walks {
        grid-row: 3;
        grid-column: 3/7;
    }

}