* {
  margin: 0;
}

body {
  font-family: 'Source Code Pro', monospace;
  background-image: url(../assets/dark_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: auto;
}

a {
  color: inherit;
}

/*---------- Header Styles ----------*/
.header-main {
  position: relative;
  min-height: 90px;
}

.title {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-column-align: center;
      justify-self: center;
  position: absolute;
  bottom: 0;
  line-height: 1;
  font-size: 1.5em;
}

.subtitle {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-column-align: center;
      justify-self: center;
  position: absolute;
  bottom: 0;
  line-height: 1;
  font-size: 2em;
}

.cv {
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
  padding: 0 40px;
  -ms-grid-column-align: center;
      justify-self: center;
  position: absolute;
  bottom: 0;
  line-height: 1;
  font-size: 1.4em;
}

/*---------- Main Content Styles ----------*/
.main-content {
  min-height: 50px;
  position: relative;
}

.text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 75px 50px 0 50px;
  padding-bottom: 50px;
  line-height: 1;
  text-align: center;
}

.about {
  line-height: 2;
}

.bee-centre {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
}

.doggie-walks {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5/8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
}

.bee-centre-img, .doggie-walks-img {
  width: 328px;
  height: 476px;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.bee-centre-img:hover, .doggie-walks-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

/*---------- Footer Styles ----------*/
.footer-main {
  min-height: 100px;
  margin-top: 30px;
}

.footer-text {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  margin-left: 10%;
  line-height: 2.5;
}

/*---------- Animations ----------*/
/*----- Header Animations -----*/
.header-main {
  position: relative;
}

.title {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
}

.subtitle {
  opacity: 0;
}

.cv {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  opacity: 0;
}

.header-main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 12.5%;
  width: 75%;
  height: 2px;
  background: white;
  z-index: 999;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.loaded .header-main::after {
  -webkit-animation: scaleIn 2s ease-in-out 0.2s forwards;
          animation: scaleIn 2s ease-in-out 0.2s forwards;
}

.loaded .title {
  -webkit-animation: fadeIn1 1.3s ease-in 0s forwards, slideIn1 1s ease-in 0.3s forwards;
          animation: fadeIn1 1.3s ease-in 0s forwards, slideIn1 1s ease-in 0.3s forwards;
}

.loaded .cv {
  -webkit-animation: fadeIn2 1.5s ease-in 0.7s forwards, slideIn1 1.5s ease-in 0.8s forwards;
          animation: fadeIn2 1.5s ease-in 0.7s forwards, slideIn1 1.5s ease-in 0.8s forwards;
}

.loaded .subtitle {
  -webkit-animation: fadeIn1 1.5s ease-in 1.5s forwards, slideIn2 1s ease-in 0.9s forwards;
          animation: fadeIn1 1.5s ease-in 1.5s forwards, slideIn2 1s ease-in 0.9s forwards;
}

@-webkit-keyframes scaleIn {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes scaleIn {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes slideIn1 {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideIn1 {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideIn2 {
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes slideIn2 {
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@-webkit-keyframes fadeIn1 {
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn1 {
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn2 {
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*----- Main Content Animation -----*/
.text {
  opacity: 0;
}

.bee-centre {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
}

.doggie-walks {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 0;
}

.loaded .text {
  -webkit-animation: fadeIn3 1.4s ease-in 3s forwards;
          animation: fadeIn3 1.4s ease-in 3s forwards;
}

.loaded .bee-centre, .loaded .doggie-walks {
  -webkit-animation: fadeIn3 1.4s ease-in 3s forwards, slideIn3 4s ease-in-out 0.9s forwards;
          animation: fadeIn3 1.4s ease-in 3s forwards, slideIn3 4s ease-in-out 0.9s forwards;
}

@-webkit-keyframes slideIn3 {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn3 {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeIn3 {
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn3 {
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*----- Footer Animation -----*/
.footer-main {
  position: relative;
}

.footer-main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 12.5%;
  width: 75%;
  height: 2px;
  background: white;
  z-index: 999;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.footer-text {
  opacity: 0;
}

.loaded .footer-main::after {
  -webkit-animation: scaleIn 2s ease-in-out 0.2s forwards;
          animation: scaleIn 2s ease-in-out 0.2s forwards;
}

.loaded .footer-text {
  -webkit-animation: fadeIn4 1.5s ease-in 1s forwards;
          animation: fadeIn4 1.5s ease-in 1s forwards;
}

@keyframes scaleIn {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes fadeIn4 {
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn4 {
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*---------- Media Queries ----------*/
@media screen and (max-width: 1200px) {
  body {
    background-attachment: scroll;
    background-position: center;
    color: white;
  }
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 1.1em;
    text-align: center;
  }
  .subtitle {
    font-size: 1.3em;
  }
  .bee-centre-img, .doggie-walks-img {
    width: 246px;
    height: 357px;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 20px;
  }
  .footer-text {
    margin: 0;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/8;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .bee-centre {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3/7;
  }
  .doggie-walks {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3/7;
  }
}
/*# sourceMappingURL=styles.css.map */